version: "3.9"

services:
  services:
  app:
    volumes:
      - ./backend/backend:/var/www/html
      - /var/www/html/vendor
    build:
      - context: .
      - dockerfile: ./docker/php/dockerfile
    
    depends_on:
      - db
      - minio
    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./backend/backend:/var/www/html
      - ./frontend/dist:/var/www/html/frontend
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - laravel

  node:
    build:
      dockerfile: ./docker/vite/Dockerfile
      context: .
    ports:
      - "5173:5173"
    networks:
      - laravel
    command: sh -c "npm install && npm run build && npm run start"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  minio:
    image: minio/minio:latest
    command: minio server /export --address :9000 --console-address :9001
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - laravel

networks:
  laravel:

volumes:
  dbdata:
  minio_data:
